header{
  width: 980px;
  height: 140px;
  background-color: aqua;
  border: 1px dashed red;
  margin: auto;

}
main{
  width: 980px;
  height: 450px;
  border: 1px dashed black;
  margin: auto;
}
aside{
  width: 270px;
  height: 450px;
  background-color: aqua;
  border: 1px dashed black;
  float: left;
  margin-right: 15px;
  
}
section{
  width:690px;
  height: 450px;
  background-color: aqua;
  border: 1px dashed black;
  float: left;
  
}
footer{
  width: 980px;
  height: 70px;
  background-color: aqua;
  border: 1px dashed black;
  margin: auto;
}
